<ion-header>
  <ion-toolbar>
    <ion-title>
      Plantas  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button size="small" fill="clear" color="danger">On</ion-button>
    <ion-button size="small" fill="clear" color="success">Off</ion-button>
    <ion-card-subtitle>Planta 3</ion-card-subtitle>

      <div class="led-boxdos">
        <div class="led-red"></div>
      </div>
      <div class="led-boxdos">
        <div class="led-red"></div>
      </div>

      <div class="led-bordedos">
          <div class="led-red"></div>
      </div>
      <div class="led-bordedos">
          <div class="led-red"></div>
      </div>
  </ion-card>

  <ion-card>
      <ion-button size="small" fill="clear" color="danger">On</ion-button>
      <ion-button size="small" fill="clear" color="success">Off</ion-button>
      <ion-card-subtitle>Planta 2</ion-card-subtitle>
        <div class="led-box">
          <div class="led-red"></div>
        </div>
      
        <div class="led-box">
          <div class="led-red"></div>
          <p></p>
        </div>
  
        <div class="led-box">
          <div class="led-red"></div>
        </div>
  
        <div class="led-borde">
            <div class="led-red"></div>
        </div>
        <div class="led-borde">
            <div class="led-red"></div>
        </div>
        <div class="led-borde">
            <div class="led-red"></div>
        </div>
  </ion-card>

  <ion-card>
      <ion-button size="small" fill="clear" color="danger">On</ion-button>
      <ion-button size="small" fill="clear" color="success">Off</ion-button>
      <ion-card-subtitle>Planta 1</ion-card-subtitle>
        <div class="led-box">
          <div class="led-red"></div>
        </div>
      
        <div class="led-box">
          <div class="led-red"></div>
          <p></p>
        </div>
  
        <div class="led-box">
          <div class="led-red"></div>
        </div>
  
        <div class="led-borde">
            <div class="led-red"></div>
        </div>
        <div class="led-borde">
            <div class="led-red"></div>
        </div>
        <div class="led-borde">
            <div class="led-red"></div>
        </div>
  </ion-card>
</ion-content>
